<!doctype html>
<html>
    <head>
        <title>Trabajo final - Adquisición y almacenamiento de datos</title>
    </head>
    <body>
        <section>
            <h1>Trabajo final - Adquisición y almacenamiento de datos</h1>
        </section>
        <section>
            <dl>
                <dt>Scraping Status</dt>
                <dd>{% if scrape_in_progress %} En progreso {% else %} Detenido {% endif %}</dd>
                <dt>Cantidad</dt>
                <dd>-</dd>
            </dl>
        </section>
    </body>    
</html>

